[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "src/external/GameNetworkingSockets"]
	path = src/external/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
